@model WebApp.ViewModels.IndexViewModel

<h1>Index</h1>
@if (!User.Identity.IsAuthenticated)
{
    <a asp-controller="Account" asp-action="Login">Войти</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
@if (User.Identity.IsAuthenticated)
{
    <p>Вы вошли под именем @User.Identity.Name</p>
    <a asp-controller="Home" asp-action="CreatePost">Добавить</a><br />
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
}

<h2>Список постов</h2>
<table>
    <tr><th>Title</th><th>Description</th><th>Author</th></tr>
    @foreach (var post in Model.Posts)
    {
        <div class="form">
            <partial name="_PostCard" model="post"/>
        </div>
    }
</table>
<p>
    @if (Model.PagingInfo.HasPreviousPage)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-page="@(Model.PagingInfo.PageNumber - 1)" >Назад</a>
    }
    @if (Model.PagingInfo.HasNextPage)
    {
        <a asp-contoller="Home" asp-action="Index" asp-route-page="@(Model.PagingInfo.PageNumber + 1)" >Вперёд</a>
    }
</p>