@model IEnumerable<WebApp.Models.Post>

<table>
    <tr><th>Title</th><th>Description</th><th>Author</th></tr>
    @foreach (var post in Model)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.Description</td>
            <td>@post.Author</td>
            <td>
                <form asp-controller="Home" asp-action="DeletePost" asp-route-id="@post.Id" method="post">
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
    }
</table>

<a asp-controller="Home" asp-action="Index">Назад</a>