@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Unbounded:wght@500&display=swap');
.Cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0 80px 0 80px;
}
.baseForm {
    width: 480px;
    height: 600px;
    position: relative;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    justify-content: center;
    border: 2px solid #a1bff740;
    padding: 20px;
    box-sizing: border-box;

}
.content{
    width:440px;
    height: 560px;
    
}
.img_content {
    height: 400px;
    width: 440px;
    display:flex;
    justify-content: center;
}

.imageForm > img {
    width: 420px;
    max-width: 100%;
    height: 400px;
    border-radius: 12px;
    object-fit: fill;
    object-position: bottom;
    border: 2px solid #a1bff740;
    box-sizing:border-box;
}
.imageForm {
    overflow: hidden;
    border-radius: 12px;
}
.imageForm > img:hover{
    transition: 0.6s;
    scale: 110%;
}
.content_header {
    padding: 0 10px 0 10px;
}
.content_2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.titlePost {
    font-family: 'Unbounded', sans-serif;
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 2em;
}
.authorPost {
    margin: 0 0 0 0;
    text-align: left;
    font-size: 0.8em;
    font-family: 'Unbounded', sans-serif;
    color: rgba(237, 238, 240, 0.98);
}
.description {
    font-family: 'Unbounded', sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: rgba(227, 228, 229, 0.98);
    overflow-y: scroll;
    display: block;
    width: 420px;
    height: 70px;
}
.description >p{
    margin: 0;
    padding-right:4px;
}
.description::-webkit-scrollbar{
    width:4px;
}
.description::-webkit-scrollbar-track{
    background-color: none;
}
.description::-webkit-scrollbar-thumb{
    background-color: rgba(227, 228, 229, 0.98);
    border-radius:5px;
}
.botton_cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
}
.authorPost > p{
    margin:0;
}
.button {
    margin-top: 4px;
}
.button_update {
    padding: 4px;
    text-decoration: none;
    color: rgba(255,255,255,0.98);
    border: 2px solid rgba(227, 228, 229, 0.98);
    background-color: rgba(190, 197, 209, 0.25);
    font-family: 'Unbounded', sans-serif;
    font-size: 0.8em;
    border-radius: 6px;
}
.button_update:hover {
        background-color: rgba(225, 229, 235, 0.25);
        color: rgba(16, 29, 54, 0.5);
        transition: 0.2s;
}
/*:root {
    --curve: 40;
}

.form{
    display: flex;
    justify-content: space-evenly;
}
.baseForm{
    width: 100%;
}
.content {
    position: relative;
    display: block;
    width: 500px;
    height: 600px;
    border-radius: calc(var(--curve) * 1px);
    background-color: #ededdf;
    overflow: hidden;
    text-decoration: none;
}

.imageForm {
    width: 100%;
    height: auto;
}
.content_header {
    width: 200px;
    background-color: #ededdf;
    border-radius: calc(var(--curve) * 1px);
}
.content_1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: #ededdf;
    transform: translateY(100%);
    transition: .2s ease-in-out;
}
.content:hover .content_1 {
    transform: translateY(0);
}
.content_2 {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1em 0 0 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: #ededdf;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}
.content:hover .content_2 {
    transform: translateY(0);
}
.titlePost {
    font-size: 2em;
    margin: 0 0 .2em;
    color: #64665d;
    font-family: "MockFlowFont";
}
.authorPost {
    font-size: 1em;
    color: #888a80;
}
.descriptionPost {
    padding: 0 2em 2em;
    margin: 0;
    color: #64665d;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}*/
